## Ignore Atmel Studio temporary files and build results

# Build Directories
[Dd]ebug/
[Rr]elease/
[Pp]rofiles/

# Visual Studio Settings
.vs/
*.vssettings

# Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec
*.lss
*.mk

# Atmel Specific Files
*.xml
*.cproj
*.asmproj

# User Specific Files
*.atsuo
*.atsln